{% extends 'shared_schedule/base.html' %}
{% load static %}

{% block title %}
<title>GW 28F Room Schedule</title>
{% endblock %}


{% block extrahead %}
    <!-- fullcalendar sources -->
    <link href="{% static 'packages/core/main.css' %}" rel='stylesheet' />
    <link href="{% static 'packages/daygrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'packages/timegrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'packages-premium/timeline/main.css' %}" rel='stylesheet' />
    <link href="{% static 'packages-premium/resource-timeline/main.css' %}" rel='stylesheet' />
    <script src="{% static 'packages/core/main.js' %}"></script>
    <script src="{% static 'packages/interaction/main.js' %}"></script>
    <script src="{% static 'packages/daygrid/main.js' %}"></script>
    <script src="{% static 'packages/timegrid/main.js' %}"></script>
    <script src="{% static 'packages-premium/timeline/main.js' %}"></script>
    <script src="{% static 'packages-premium/resource-common/main.js' %}"></script>
    <script src="{% static 'packages-premium/resource-timeline/main.js' %}"></script>
       
    <!-- tooltip.js -->
    <!-- <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script> -->
    <script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
    
    <!-- fullcalendar -->
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'resourceTimeline'],
                //now: '2020-06-30',
                displayEventTime: true,
                aspectRatio: 1.8,
                minTime: '08:00',
                maxTime: '22:00',
                selectable: true,
                contentHeight: 'auto',
                header: {
                    left: 'today prev,next',
                    center: 'title',
                    right: 'resourceTimelineDay,resourceTimelineThreeDays,timeGridWeek,dayGridMonth'
                },
                defaultView: 'resourceTimelineDay',
                views: {
                    resourceTimelineThreeDays: {
                        type: 'resourceTimeline',
                        duration: { days: 3 },
                        buttonText: '3 days'
                    }
                },
                resourceLabelText: 'Rooms',
                resourceAreaWidth: '10%',

                eventRender: function (info) {
                    var tooltip = new Tooltip(info.el, {
                        title: info.event.extendedProps.description,
                        placement: 'top',
                        trigger: 'hover',
                        container: 'body'
                    });
                },

                resources: [
                    {% for resource in resources %}
                        {
                    id: '{{ resource.id }}',
                    title: ' {{ resource.title }}',
                },
                {% endfor %}
                    ],

            events: [
            {% for event in events %}
        {
            id: '{{ event.id }}',
                resourceId: '{{ event.resourceId.pk }}',
                    color: '{{ event.resourceId.eventColor }}',
                        title: '{{ event.title|safe }}',
                            description: '{{ event.description|safe }}',
                                start: '{{ event.start|date:"c" }}',
                                    end: '{{ event.end|date:"c" }}',
                                        url: '{% url "EventDetail" pk=event.pk %}',
                    },
        {% endfor %}
                    ],

                    //eventRender: function (info) {
                    //    $(info.el).tooltip({ title: info.event.extendedProps.description });
                    //},
    
                });

        calendar.render();
            });

    </script>
{% endblock extrahead %}


{% block content %}
    <div class="container">
        <h1>Room Color Mappings:</h1>
        <hr>
        <div class="color-row">
            {% for resource in resources %}
            <p>{{ resource.title }}:
            <div id="show-color" style="background-color: {{ resource.eventColor }};">
                <a style="display: block; height: 100%; width: 100%;" href="{% url 'ResourceDetail' pk=resource.id %}"></a>
            </div>
            </p>
            {% endfor %}
        </div>
    </div>

    <div id='calendar'></div>
{% endblock content %}
    
